/* **Estilos Globales** */

html {
  font-family: 'Poppins', sans-serif; 
  font-size: 10px; 
  color: #000; 
  scroll-behavior: smooth;

}

body {
  overflow-x: hidden; /* Oculta el desbordamiento horizontal */

}


/*HEADER*/

header {
  width: 100%; /* Ancho completo del header */
  position: absolute; /* Posición absoluta para superponerlo sobre otros elementos */
  top: 0; /* Coloca el header en la parte superior */
  left: 0; /* Coloca el header en el borde izquierdo */
  z-index: 1; /* Asegura que el header esté por encima de otros elementos */
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent); /* Degradado de fondo para el header */
}

.container {
  width: 90%;
  max-width: 122.5rem;
  margin: 0 auto;
}

.nav {
  height: 7.2rem; /* Altura de la barra de navegación */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.logo {
  color: #000000; /* Color del texto del logo */
  margin-top: 2rem; /* Espaciado superior del logo */
  font-size: 5.5rem; /* Tamaño de la fuente del logo */
  font-weight: 600; /* Peso de la fuente del logo */
  text-decoration: none;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around; /* Espacia los elementos uniformemente */
}

.nav-item {
  margin-left: 3rem; /* Mayor espacio entre los elementos de navegación */
  border-bottom: 2px solid rgba(255, 255, 255, .3); /* Borde inferior para los ítems de navegación */
}

header .nav .nav-link {
  font-size: 1.8rem;
}

.nav-link {
  display: block; /* Hace que el enlace ocupe el espacio completo del ítem de navegación */
  color: #fff; /* Color del texto del enlace */
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  margin-right: -2px; /* Ajuste negativo para alinear los enlaces */
}

.nav-link:hover {
  color: #ffc845; /* Cambia el color del enlace al pasar el ratón */
}

.nav-link.active {
  font-weight: bold;
}


/*Titulo*/

.titulo {
  width: 100%;
  max-width: 122.5rem;
  margin: 15rem auto;
  padding: 0 2.4rem;
}


/*Productos*/
.products {
  display: flex;
  flex-wrap: wrap; /* Permite que los productos se envuelvan en múltiples líneas si es necesario */
  justify-content: space-between; /* Espacia los elementos de manera que se distribuyan uniformemente */
  padding: 0 2rem; /* Añade un relleno a los lados para evitar que las tarjetas estén pegadas a los bordes */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total del contenedor */
}

.product-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem; /* Añade un margen alrededor de cada tarjeta */
  padding: 1.5rem;
  width: calc(33.333% - 2rem); /* Calcula el ancho de la tarjeta para que se ajusten tres en cada fila con márgenes */
  box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el ancho total */
}

.product-card img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3 {
  margin: 1rem 0;
  font-size: 2rem; /* Tamaño del título */
}

.product-card p {
  margin: 0.5rem 0;
  font-size: 1.6rem; /* Tamaño del precio */
}

.product-card select {
  margin: 1rem 0;
  width: 100%;
  font-size: 1.6rem; /* Tamaño del texto de las opciones del select */
}

.product-card button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0.4rem 0.2rem;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.product-card button:hover {
  background-color: #ffc845;
}


/*Carrito */

#cart {
  position: fixed;
  right: -30rem;
  top: 0;
  width: 30rem;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
}


#cart.open {
  right: 0;
}


#cart h2 {
  padding: 2rem;
  margin: 0;
  background-color: #4CAF50;
  color: white;
  font-size: 2rem; /* Tamaño del texto del título del carrito */
}

#cart-items .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  font-size: 1.6rem; /* Tamaño del texto de los elementos del carrito */
}



#cart-items .cart-item button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 0.8rem 1.5rem; /* Tamaño del relleno del botón */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem; /* Tamaño de la fuente del botón */
  margin: 0.4rem 0.6rem;
  cursor: pointer;
  border-radius: 4px;
}

#cart-total {
  padding: 2rem;
  font-weight: bold;
  font-size: 2rem; /* Tamaño del texto del total del carrito */
  text-align: right;
}

#toggle-cart {
  position: fixed;
  right: 2rem;
  top: 2rem;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem; /* Tamaño de la fuente del botón de toggle */
  margin: 0.4rem 0.2rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1000;
}


@media (max-width: 600px) {
  .product-card {
      width: calc(100% - 2rem);
  }
}


