/* Importa la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

/* Estilos globales aplicados a todos los elementos */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos específicos para el elemento html */
html {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  color: #000;
  scroll-behavior: smooth;
}

/* Estilos para el body */
body {
  overflow-x: hidden;
}

/* Estilos para todos los elementos <section> */
section {
  padding: 3.9rem 0;
  overflow: hidden;
}

/* Estilos para las imágenes */
img {
  width: 100%;
  max-width: 100%;
}

/* Estilos para los enlaces */
a {
  text-decoration: none;
}

/* Estilos para los párrafos */
p {
  font-size: 1.6rem;
}

/* Estilos para el contenedor principal */
.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

/*HEADER*/
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
}

.nav {
  height: 7.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #000000;
  margin-top: 6rem;
  font-size: 5.5rem;
  font-weight: 600;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  margin: 0;
  margin-top: 6rem;
  padding: 0;
  display: flex;
flex-direction: row;}


.nav-item {
  margin-left: 3rem;
  border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.nav-link {
  display: block;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.8rem;
}

.nav-link:hover {
  color: #ffc845;
}

.nav-link.active {
  font-weight: bold;
}

/* Ocultar el botón de menú en pantallas grandes */
.menu-toggle {
  display: none;
}

/* Titulo */
.titulo {
  width: 100%;
  max-width: 122.5rem;
  margin: 15rem auto;
  padding: 0 2.4rem;
}

/* Tienda */
.tienda {
  width: 100%;
  max-width: 122.5rem;
  padding: 0 2.4rem;
  text-align: center;
  color: #2c3e50;
  font-family: 'Arial', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ffc845, #4CAF50);
  color: #ffffff;
  border-radius: 8px;
  padding: 1.5rem 2.4rem;
}

/* Productos */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2rem;
  box-sizing: border-box;
}

.product-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1.5rem;
  width: calc(33.333% - 2rem);
  box-sizing: border-box;
}

.product-card img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3 {
  margin: 1rem 0;
  font-size: 2rem;
}

.product-card p {
  margin: 0.5rem 0;
  font-size: 1.6rem;
}

.product-card select {
  margin: 1rem 0;
  width: 100%;
  font-size: 1.6rem;
}

.product-card button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0.4rem 0.2rem;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.product-card button:hover {
  background-color: #ffc845;
}

/* Carrito */
#cart {
  position: fixed;
  right: -30rem;
  top: 0;
  width: 30rem;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
}

#cart.open {
  right: 0;
}

#cart h2 {
  padding: 2rem;
  margin: 0;
  background-color: #4CAF50;
  color: white;
  font-size: 2rem;
}

#cart-items .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  font-size: 1.6rem;
}

#cart-items .cart-item button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 0.8rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0.4rem 0.6rem;
  cursor: pointer;
  border-radius: 4px;
}

#cart-total {
  padding: 2rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: right;
}

#toggle-cart {
  position: fixed;
  right: 2rem;
  top: 2rem;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  margin: 0.4rem 0.2rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1000;
}

.d-none {
  display: none;
}

/* Estilos para el footer */
footer {
  padding: 7.9rem 0;
  background-color: #121212;
  color: #fff;
  text-align: center;
  position: relative;
}

/* Estilos para el contenido del footer */
.footer-content {
  overflow: hidden;
}

/* Estilos para el título en el footer */
.footer-content h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}

/* Estilos para los círculos dentro del contenido del footer */
.footer-content .circle {
  margin: 2.4rem 0;
}

/* Estilos para la sección "about" en el footer */
.footer-content-about {
  margin-bottom: 5.4rem;
}

/* Estilos para los párrafos dentro de la sección "about" del footer */
.footer-content-about p {
  line-height: 2;
}

/* Estilos para la lista de íconos sociales */
.social-icons {
  list-style: none;
  margin-bottom: 5.4rem;
  display: flex;
  justify-content: center;
}

/* Estilos para los íconos sociales */
.social-icons i {
  font-size: 2rem;
  color: #3bcc75;
  padding: .8rem 2rem;
}

/* Estilos para los íconos sociales al pasar el ratón o estar enfocados */
.social-icons i:hover,
.social-icons i:focus {
  color: #ffc845;
}

/* Estilos para el formulario de suscripción al boletín */
.news-form {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

/* Estilos para el campo de entrada del formulario de suscripción */
.news-input {
  width: 100%;
  max-width: 25rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 4px;
  margin-right: 0.5rem;
}

/* Estilos para el botón de envío del formulario de suscripción */
.news-submit {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para el botón de envío al pasar el ratón o estar enfocado */
.news-submit:hover,
.news-submit:focus {
  background-color: #ffc845;
}

/* Media Queries para hacer el diseño más responsivo */
@media (max-width: 768px) {
  html {
    font-size: 9px;
  }

  .logo {
    font-size: 4rem;
    /* Reduce el tamaño del logo en pantallas de hasta 768px */
  }

  .nav-list {
    display: none;
    /* Ocultar el menú por defecto en pantallas pequeñas */
    flex-direction: column;
    /* Organiza los elementos del menú verticalmente */
  }

  .menu-toggle {
    display: block;
    /* Mostrar el botón de menú en pantallas pequeñas */
    font-size: 3rem;
  }

  .menu-toggle i.fa-bars {
    display: block;
    /* Mostrar el icono de menú */
  }

  .menu-toggle i.fa-times {
    display: none;
    /* Asegúrate de que el icono de cerrar esté oculto por defecto */
  }

  .nav-list.active {
    display: flex;
    /* Mostrar el menú cuando está activo */
  }

  .nav-item {
    margin: 1rem 0;
    /* Espaciado vertical para los elementos del menú */
  }

  .nav-link {
    font-size: 1.6rem;
    /* Tamaño de fuente en pantallas pequeñas */
  }

  .product-card {
    width: calc(50% - 2rem);
  }

  #cart {
    width: 100%;
    right: -100%;
    top: 0;
  }

  #cart.open {
    right: 0;
  }

  #toggle-cart {
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 1000;
  }

  .footer-content {
    display: block;
  }

  .social-icons {
    flex-wrap: wrap;
    justify-content: center;
  }

  .social-icons i {
    font-size: 1.8rem;
    padding: .5rem 1.5rem;
  }

  .news-form {
    flex-direction: column;
    align-items: center;
  }

  .news-input {
    width: calc(100% - 2rem);
    margin-bottom: 1rem;
  }

  .news-submit {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 8px;
  }

  .nav-list {
    font-size: 1.4rem;
    /* Tamaño de fuente aún más pequeño en pantallas muy pequeñas */
  }

  .product-card {
    width: 100%;
  }

  #cart {
    width: 100%;
    right: -100%;
    top: 0;
  }

  #cart.open {
    right: 0;
  }

  #toggle-cart {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .footer-content {
    text-align: center;
  }

  .footer-content-about {
    margin: 0;
  }
}


/* Estilos específicos para pantallas móviles */
@media (max-width: 768px) {
  .nav-list {
     position: fixed;
     top: 0;
     left: 0;
     width: 80%;
     height: 100vh;
     background-color: #252525;
     padding: 4.4rem;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     z-index: 1250;
     transform: translateX(-100%);
     transition: transform 0.3s ease-in-out;
  }

  .nav-list.active {
     transform: translateX(0);
  }

  .menu-toggle {
     display: block;
     font-size: 3rem;
     color: #000;
     cursor: pointer;
     z-index: 1500;
  }

  .menu-toggle.open i.fa-bars {
     display: none;
  }

  .menu-toggle.open i.fa-times {
     display: block;
  }

  .nav-item {
     margin: 1rem 0;
     border-bottom: none;
     text-align: left;
  }

  .nav-link {
     color: #fff;
     font-size: 2rem; /* Aumentar el tamaño de la fuente en móviles */
     text-decoration: underline; /* Subrayar los enlaces en móviles */

  }
}


/* Media Queries para ajustar el icono del carrito en pantallas móviles */
@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .nav-list {
    display: none;
    /* Ocultado por defecto en móvil */
  }

  .nav.open .nav-list {
    display: flex;
  }

  #toggle-cart {
    right: 2rem;
    /* Ajusta la posición a la derecha si es necesario */
    top: auto;
    /* Resetea la posición vertical */
    bottom: 2rem;
    /* Coloca el icono del carrito a 2rem desde el borde inferior */
    z-index: 1000;
  }
}