/* Importa la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

/* Estilos globales aplicados a todos los elementos */
*,
*::before,
*::after {
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el relleno por defecto */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto total del elemento */
}

/* Estilos específicos para el elemento html */
html {
    font-family: 'Poppins', sans-serif; /* Define la fuente principal para todo el documento */
    font-size: 10px; /* Tamaño de fuente base para el cálculo de tamaños en rem */
    color: #000; /* Color del texto por defecto */
    scroll-behavior: smooth; /* Hacer el desplazamiento suave */
}

/* Estilos para el body */
body {
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
}

/* Estilos para todos los elementos <section> */
section {
    padding: 3.9rem 0; /* Espaciado vertical */
    overflow: hidden; /* Oculta cualquier contenido que desborde el contenedor */
}

/* Estilos para las imágenes */
img {
    width: 100%; /* Asegura que la imagen ocupe el ancho completo del contenedor */
    max-width: 100%; /* Asegura que la imagen no se expanda más allá del ancho del contenedor */
}

/* Estilos para los enlaces */
a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Estilos para los párrafos */
p {
    font-size: 1.6rem; /* Tamaño de la fuente del párrafo */
}

/* Estilos para el contenedor principal */
.container {
    width: 100%; /* Ancho completo del contenedor */
    max-width: 122.5rem; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 0 2.4rem; /* Espaciado horizontal */
}

/*HEADER*/

header {
  width: 100%; /* Ancho completo del header */
  position: absolute; /* Posición absoluta para superponerlo sobre otros elementos */
  top: 0; /* Coloca el header en la parte superior */
  left: 0; /* Coloca el header en el borde izquierdo */
  z-index: 1; /* Asegura que el header esté por encima de otros elementos */
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent); /* Degradado de fondo para el header */
}

.container {
  width: 90%;
  max-width: 122.5rem;
  margin: 0 auto;
}

.nav {
  height: 7.2rem; /* Altura de la barra de navegación */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.logo {
  color: #000000; /* Color del texto del logo */
  margin-top: 6rem; /* Espaciado superior del logo */
  font-size: 5.5rem; /* Tamaño de la fuente del logo */
  font-weight: 600; /* Peso de la fuente del logo */
  text-decoration: none;
}

.nav-list {
  list-style: none;
  margin: 0;
  margin-top: 6rem; /* Espaciado superior del logo */
  padding: 0;
  display: flex;
  justify-content: space-around; /* Espacia los elementos uniformemente */
}

.nav-item {
  margin-left: 3rem; /* Mayor espacio entre los elementos de navegación */
  border-bottom: 2px solid rgba(255, 255, 255, .3); /* Borde inferior para los ítems de navegación */
}

header .nav .nav-link {
  font-size: 1.8rem;
}

.nav-link {
  display: block; /* Hace que el enlace ocupe el espacio completo del ítem de navegación */
  color: #000000; /* Color del texto del enlace */
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  margin-right: -2px; /* Ajuste negativo para alinear los enlaces */
}

.nav-link:hover {
  color: #ffc845; /* Cambia el color del enlace al pasar el ratón */
}

.nav-link.active {
  font-weight: bold;
}


/*Titulo*/

.titulo {
  width: 100%;
  max-width: 122.5rem;
  margin: 15rem auto;
  padding: 0 2.4rem;
}

.tienda{
    width: 100%;
    max-width: 122.5rem;
    padding: 0 2.4rem; /* Espaciado horizontal interno */
    text-align: center; /* Centra el texto dentro del contenedor */
    color: #2c3e50; /* Color del texto (un tono oscuro de azul) */
    font-family: 'Arial', sans-serif; /* Fuente sans-serif, puedes ajustar según tu diseño */
    font-size: 3rem; /* Tamaño de fuente grande para títulos */
    font-weight: 600; /* Peso de la fuente en semi-negrita */
    line-height: 1.3; /* Altura de línea para un buen espaciado */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    background: linear-gradient(90deg, #ffc845, #4CAF50); /* Fondo degradado de colores */
    color: #ffffff; /* Color del texto en blanco para resaltar sobre el fondo */
    border-radius: 8px; /* Bordes redondeados para un diseño más suave */
    padding: 1.5rem 2.4rem; /* Ajusta el espaciado interno para incluir el fondo */
  }
  


/*Productos*/
.products {
  display: flex;
  flex-wrap: wrap; /* Permite que los productos se envuelvan en múltiples líneas si es necesario */
  justify-content: space-between; /* Espacia los elementos de manera que se distribuyan uniformemente */
  padding: 0 2rem; /* Añade un relleno a los lados para evitar que las tarjetas estén pegadas a los bordes */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total del contenedor */
}

.product-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem; /* Añade un margen alrededor de cada tarjeta */
  padding: 1.5rem;
  width: calc(33.333% - 2rem); /* Calcula el ancho de la tarjeta para que se ajusten tres en cada fila con márgenes */
  box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el ancho total */
}

.product-card img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3 {
  margin: 1rem 0;
  font-size: 2rem; /* Tamaño del título */
}

.product-card p {
  margin: 0.5rem 0;
  font-size: 1.6rem; /* Tamaño del precio */
}

.product-card select {
  margin: 1rem 0;
  width: 100%;
  font-size: 1.6rem; /* Tamaño del texto de las opciones del select */
}

.product-card button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0.4rem 0.2rem;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.product-card button:hover {
  background-color: #ffc845;
}


/*Carrito */

#cart {
  position: fixed;
  right: -30rem;
  top: 0;
  width: 30rem;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
}


#cart.open {
  right: 0;
}


#cart h2 {
  padding: 2rem;
  margin: 0;
  background-color: #4CAF50;
  color: white;
  font-size: 2rem; /* Tamaño del texto del título del carrito */
}

#cart-items .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  font-size: 1.6rem; /* Tamaño del texto de los elementos del carrito */
}



#cart-items .cart-item button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 0.8rem 1.5rem; /* Tamaño del relleno del botón */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem; /* Tamaño de la fuente del botón */
  margin: 0.4rem 0.6rem;
  cursor: pointer;
  border-radius: 4px;
}

#cart-total {
  padding: 2rem;
  font-weight: bold;
  font-size: 2rem; /* Tamaño del texto del total del carrito */
  text-align: right;
}

#toggle-cart {
  position: fixed;
  right: 2rem;
  top: 2rem;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem; /* Tamaño de la fuente del botón de toggle */
  margin: 0.4rem 0.2rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1000;
}



/* Estilos para el footer */
footer {
  padding: 7.9rem 0; /* Espaciado vertical */
  background-color: #121212; /* Color de fondo del footer */
  color: #fff; /* Color del texto del footer */
  text-align: center; /* Centra el texto */
  position: relative; /* Posición relativa para colocación de elementos internos */
}

/* Estilos para el contenido del footer */
.footer-content {
  overflow: hidden; /* Oculta cualquier contenido desbordado */
}

/* Estilos para el título en el footer */
.footer-content h4 {
  font-size: 1.9rem; /* Tamaño de la fuente del título */
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
  font-weight: 100; /* Peso de la fuente */
  letter-spacing: 3px; /* Espaciado entre letras */
  margin-bottom: 3rem; /* Espaciado inferior */
}

/* Estilos para los círculos dentro del contenido del footer */
.footer-content .circle {
  margin: 2.4rem 0; /* Espaciado vertical */
}

/* Estilos para la sección "about" en el footer */
.footer-content-about {
  margin-bottom: 5.4rem; /* Espaciado inferior */
}

/* Estilos para los párrafos dentro de la sección "about" del footer */
.footer-content-about p {
  line-height: 2; /* Altura de línea para los párrafos */
}

/* Estilos para la lista de íconos sociales */
.social-icons {
  list-style: none; /* Elimina los puntos de la lista */
  margin-bottom: 5.4rem; /* Espaciado inferior */
  display: flex; /* Usa Flexbox para la disposición de los íconos */
  justify-content: center; /* Centra horizontalmente los íconos */
}

/* Estilos para los íconos sociales */
.social-icons i {
  font-size: 2rem; /* Tamaño de la fuente de los íconos */
  color: #3bcc75; /* Color del ícono */
  padding: .8rem 2rem; /* Espaciado interno del ícono */
}

/* Estilos para los íconos sociales al pasar el ratón o estar enfocados */
.social-icons i:hover,
.social-icons i:focus {
  color: #ffc845; /* Cambia el color del ícono */
}

/* Estilos para el formulario de suscripción al boletín */
.news-form {
  width: 100%; /* Ancho completo del formulario */
  position: relative; /* Posición relativa para colocación de elementos internos */
  display: flex; /* Usa Flexbox para la disposición de los elementos */
  justify-content: center; /* Centra horizontalmente el formulario */
}

/* Estilos para el campo de entrada del formulario de suscripción */
.news-input {
  width: 100%; /* Ancho completo del campo de entrada */
  max-width: 25rem; /* Ancho máximo del campo de entrada */
  padding: 1rem; /* Espaciado interno del campo de entrada */
  border-radius: .4rem; /* Bordes redondeados del campo de entrada */
}

/* Estilos para el botón del formulario de suscripción */
.news-btn {
  background: transparent; /* Fondo transparente del botón */
  border: none; /* Sin borde */
  color: #252525; /* Color del texto del botón */
  cursor: pointer; /* Muestra un cursor de puntero cuando se pasa sobre el botón */
  font-size: 1.6rem; /* Tamaño de la fuente del botón */
  padding: 1px .6rem; /* Espaciado interno del botón */
  position: absolute; /* Posición absoluta para colocarlo en un lugar específico */
  top: 30%; /* Posición vertical del botón */
  margin-left: 20.5rem; /* Espaciado desde el borde izquierdo */
}


  /* From Uiverse.io by G4b413l */ 
  .card svg {
      height: 25px;
    }
    
    .card {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #e7e7e7;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      overflow: hidden;
      height: 50px;
      width: 200px;
      margin-left: 300px; /* Agrega espacio flexible en la izquierda */
    }
    
    .card::before, .card::after {
      position: absolute;
      display: flex;
      align-items: center;
      width: 50%;
      height: 100%;
      transition: 0.25s linear;
      z-index: 1;
    }
    
    .card::before {
      content: "";
      left: 0;
      justify-content: flex-end;
      background-color: #4d60b6;
    }
    
    .card::after {
      content: "";
      right: 0;
      justify-content: flex-start;
      background-color: #4453a6;
    }
    
    .card:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    
    .card:hover span {
      opacity: 0;
      z-index: -3;
    }
    
    .card:hover::before {
      opacity: 0.5;
      transform: translateY(-100%);
    }
    
    .card:hover::after {
      opacity: 0.5;
      transform: translateY(100%);
    }
    
    .card span {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: whitesmoke;
      font-family: 'Fira Mono', monospace;
      font-size: 24px;
      font-weight: 700;
      opacity: 1;
      transition: opacity 0.25s;
      z-index: 2;
    }
    
    .card .social-link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      height: 100%;
      color: whitesmoke;
      font-size: 24px;
      text-decoration: none;
      transition: 0.25s;
    }
    
    .card .social-link svg {
      text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
      transform: scale(1);
    }
    
    .card .social-link:hover {
      background-color: rgba(249, 244, 255, 0.774);
      animation: bounce_613 0.4s linear;
    }
    
    @keyframes bounce_613 {
      40% {
        transform: scale(1.4);
      }
    
      60% {
        transform: scale(0.8);
      }
    
      80% {
        transform: scale(1.2);
      }
    
      100% {
        transform: scale(1);
      }
    }
  
  



/* Estilos específicos para pantallas de al menos 900px de ancho */
@media screen and (min-width: 900px) {

  section {
      padding: 7.9rem; /* Aumenta el espaciado interno de las secciones */
  }

  .menu-toggle {
      display: none; /* Oculta el botón de menú en pantallas grandes */
  }

  .nav {
      justify-content: space-between; /* Justifica el contenido del menú */
  }

  .nav-list {
      position: initial; /* Restablece la posición del menú */
      width: initial; /* Restablece el ancho del menú */
      height: initial; /* Restablece la altura del menú */
      background-color: transparent; /* Fondo transparente para el menú en pantallas grandes */
      padding: 0; /* Elimina el espaciado interno del menú */
      justify-content: initial; /* Restablece la justificación del contenido del menú */
      flex-direction: row; /* Disposición en fila de los elementos del menú */
      transform: initial; /* Restablece la transformación del menú */
      transition: initial; /* Restablece la transición del menú */
  }

  .nav-item {
      margin: 0 2.4rem; /* Espaciado horizontal entre los elementos del menú */
  }

  .nav-item:last-child {
      margin-right: 0; /* Elimina el espaciado derecho en el último elemento del menú */
  }

  .nav-link {
      font-size: 1.3rem; /* Tamaño de la fuente de los enlaces del menú */
  }

  .active {
      position: relative; /* Posición relativa para los elementos activos */
  }
  .active::before {
      content: ''; /* Crea un pseudo-elemento */
      position: absolute; /* Posición absoluta para el pseudo-elemento */
      width: 100%; /* Ancho completo del pseudo-elemento */
      height: 2px; /* Altura del pseudo-elemento */
      background-color: #fff; /* Color de fondo del pseudo-elemento */
      left: 0; /* Posición horizontal del pseudo-elemento */
      bottom: -3px; /* Posición vertical del pseudo-elemento */
  }

  .h2-sub {
      font-size: 3rem; /* Tamaño de la fuente del subtítulo */
  }

  .fil {
      font-size: 3rem; /* Tamaño de la fuente del subtítulo */
  }
  .head {
      font-size: 4.7rem; /* Tamaño de la fuente del título */
      letter-spacing: .8rem; /* Espaciado entre letras */
  }

  .res-info {
      display: flex; /* Usa Flexbox para la disposición de los elementos */
      align-items: center; /* Centra verticalmente los elementos */
  }

  .res-info > div {
      flex: 1; /* Hace que los elementos dentro de .res-info se expandan igualmente */
  }

  .pad-rig {
      padding-right: 7rem; /* Espaciado derecho */
  }

  .footer-content {
      max-width: 77.5rem; /* Ancho máximo del contenido del footer */
      margin: auto; /* Centra el contenido del footer */
  }

  .footer-content-about {
      max-width: 51.3rem; /* Ancho máximo de la sección "about" del footer */
      margin: 0 auto 5.4rem; /* Centra la sección "about" y agrega espaciado inferior */
  }

  .footer-div {
      display: flex; /* Usa Flexbox para la disposición de los elementos del footer */
      justify-content: space-between; /* Justifica el contenido del footer */
  }

  .social-media,
  .news-form {
      width: 100%; /* Ancho completo de los elementos */
      max-width: 27.3rem; /* Ancho máximo de los elementos */
      margin: 0 1rem; /* Espaciado horizontal */
  }

  .news-btn {
      margin-left: 7.5rem; /* Ajuste del espaciado izquierdo del botón */
  }

  

}





